<p-toast></p-toast>
<div class="login-wrapper">
  <p-card header="Iniciar Sesión" styleClass="login-card">
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
      <span class="p-float-label">
        <input pInputText id="document" formControlName="document" autocomplete="username" />
        <label for="document">Documento / Usuario</label>
      </span>

      <span class="p-float-label">
    <p-password id="password" formControlName="password" [toggleMask]="true" autocomplete="current-password"></p-password>
        <label for="password">Contraseña</label>
      </span>

      <button pButton type="submit" label="Entrar" icon="pi pi-sign-in" [loading]="loading"></button>
    </form>
  </p-card>
</div>
