html, body {
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}


/* Solo inputs dentro del login */
.login-page .p-inputtext,
.login-page input[type="text"],
.login-page input[type="password"],
.login-page .p-password,
.login-page .p-password input,
.login-page .p-password .p-inputtext,
.login-page .p-password .p-password-input {
	width: 100% !important;
	min-width: 0 !important;
	min-height: 40px !important;
	font-size: 1rem !important;
	box-sizing: border-box;
}
.login-page .p-password {
	display: flex;
	align-items: center;
}
